/*****************************************************************************************************/
/************************************ Page de connexion utilisateur **********************************/
/****************************************************************************************************/

#img_user{
	display:inline-block;
	position:inherit;
	margin: 8px 45%;
}

#btn_valider{
	position: relative;
left: 32%;
	
}
